/*RESETO DE CSS*/
*{
    margin: 0px;
    padding: 0px;
}

/* ESTILOS NAV GENERAL*/
.nav-link {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: solid;
    text-decoration-color: black;
    opacity: 100%;
}

/* ESTILOS DE FOOTER GENERAL*/
.footerGeneralInicio{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    text-decoration: none;
}
.logoWhatsappInicio{
    margin-right: 1rem;
}
.logoFacebookInicio {
    margin-right: 1rem;
}
.contenedorGeneralFooter
{padding: 1rem;
}
.sectionIconosFooter{
    margin-top: 1rem;
}
.breadcrumFlex {
    display: flex;
    justify-content: flex-start;
    display: contents;
}
.iconosNavegablesFlex {
    display: flex;
    justify-content: flex-end;
    
}
.breadcrumb-item {
    text-decoration-color: black;
    text-decoration-style: solid;
}

/*ESTILOS DE PRODUCTOS*/
.divGeneralProductos {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*ESTILOS POLITICAS DEVOLUCION*/

/*ESTILOS COMUNIDAD*/

/*ESTILOS CONTACTO*/